# MongoDB Atlas
MONGODB_ATLAS_USERNAME=
MONGODB_ATLAS_PASSWORD=
MONGODB_ATLAS_CLUSTER_URL=
MONGODB_ATLAS_DB_NAME=
MONGODB_ATLAS_APP_NAME=

# Mailjet
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAIL_ORIGIN_ADDRESS=

# Ski resort target
BASE_SKI_RESORT_URL=
BASE_SKI_RESORT_URL_SHOP=

# Optional: protect /api/scheduler
CRON_SECRET=
